<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">


    <div>
        <a href="${original}" target="_blank"><img src="${original_resized}"></a>
        <a href="${result}" target="_blank"><img src=${result_resized}></a>
    </div>
<br><br>
<form >
    <div>
        <p>Are the images similar?</p>
        <label>True <input type="radio" value="true" name="isSimilar"></label>
        <label>False <input type="radio" value="false" name="isSimilar"></label>
        <input type="hidden" value=${original} name="original"> <br><br>
        <button type="submit">Send results</button>
    </div>
</form>



</@layout.myLayout>